# Source:
# https://huggingface.co/rustformers/bloom-ggml
# https://huggingface.co/models?other=llm-rs
#
# This specific model is from
# https://huggingface.co/rustformers/bloom-ggml/blob/main/bloom-1b7-q4_0.bin
*.llm

# Godot 4+ specific ignores
.godot/
