name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@nightly
    - name: Install Dialogical
      working-directory: pets-lib
      run: cargo install dialogical
    - name: Build
      working-directory: pets-lib
      run: cargo build --verbose
    - name: Run tests
      working-directory: pets-lib
      run: cargo test --verbose
